/* BEGIN Compact theme variables */
#urlbar,
.searchbar-textbox {
	font-size: unset !important;
	min-height: 22px !important;
	margin: 0 !important;
}

#TabsToolbar,
#nav-bar,
.tabbrowser-tab,
#nav-bar-overflow-button {
	max-height: 22px !important;
	min-height: 22px !important;
	height: 22px !important;
}

:root[uidensity=compact] #identity-box {
	max-height: 22px;
}

:root[uidensity=compact] #nav-bar .toolbarbutton-1 {
	padding: 0 !important;
}
/* END Compact theme variables */

/* Change background-color and text color of active tab
See : https://www.reddit.com/r/FirefoxCSS/comments/7cwt26/is_there_a_way_to_highlight_a_little_more_the/ */
.tab-background[selected="true"] {
	background-color: #98c379 !important;
	background-image: none !important;
}

.tab-background {
	background-color: #454545 !important;
}

/* Move Tab-bar beside Nav-bar */
#TabsToolbar {
	margin: -1px 0px 3px 45vw !important;
	padding-bottom: 0 !important;
}

#nav-bar {
	margin-bottom: -3px !important;
	margin-top: -25px !important;
	margin-right: 55vw !important;
	border-top: transparent !important;
}
/* Remove padding above tabbar in compact mode */
/*#main-window[sizemode="normal"] > #titlebar {
-moz-appearance: initial !important;
}*/

/* Remove Forward Button */
#forward-button {
	display: none !important;
}

/* Firefox Menu Always Displays To The Left */
#appMenu-popup {
	margin-right: -258px !important;
}
#appMenu-popup .panel-arrow {
	margin-right: 248px !important;
}

/* Tabs */
/* Resize favicon */
.tab-icon-image {
	max-width: 22px !important;
	max-height: 22px !important;
	max-width:height: 12px !important;
	margin: -3px 0 -3px -3px !important;
}

/* Change Private Icon */
.private-browsing-indicator {
	max-width: 20px !important;
	max-height: 20px !important;
}

.arrowscrollbox-overflow-start-indicator,
.scrollbutton-down,
.scrollbutton-up,
#alltabs-button {
	display: none !important;
}

/* Remove border between tabs
Delete this rule if you want separators between background tabs */
.tabbrowser-tab::after,
.tabbrowser-tab::before {
	border-left: none !important;
}

/*Favconize Tabs*/
.tab-label-container, .tab-close-button {
	display: none !important;
}
.tabbrowser-tab[fadein] {
	max-width: 22px !important;
	min-width: 0 !important;
}
.tab-icon-image {
	margin-inline-end: 0 !important;
}
.tab-content {
	max-height: 22px !important;
	padding: 4px !important;
}

/* Show favicon for tabs without favicons */
.tabbrowser-tab:not([pinned]) .tab-icon-image:not([src]) {
	display: inline !important;
	list-style-image: url('./tab_favicon_dotted.png') !important;
}

/* Firefox Menu Customization */
#PanelUI-menu-button {
	list-style-image: url("firefox.png") !important;
	max-height:height: 22px !important;
	max-width: 22px !important;
}
#PanelUI-menu-button > .toolbarbutton-badge-stack {
	padding: 2px !important;
}
:root[uidensity="touch"] #PanelUI-menu-button > .toolbarbutton-badge-stack {
	padding: 5px !important;
}
#PanelUI-menu-button > .toolbarbutton-badge-stack > .toolbarbutton-icon {
	width: 22px !important;
}
#PanelUI-menu-button > .toolbarbutton-badge-stack {
	height: 22px !important;
	width: 22px !important;
	margin-left: 4px !important;
	margin-right: 0 !important;
}
#PanelUI-quit #PanelUI-customize #PanelUI-help #PanelUI-footer #PanelUI-footer-inner {
	direction: ltr !important;
}
#PanelUI-button {
	background-position: 100% 0, calc(100% - 1px) 0, calc(100% - 2px) 0 !important;
}
#PanelUI-popup {
	margin-right: -350px!important;
}
#PanelUI-popup .panel-arrow {
	margin-right: 340px!important;
}
#PanelUI-button,
#customization-panel-container,
#customization-panelWrapper .panel-arrow {
	-moz-box-ordinal-group: 0 !important;
}
photonpanelmultiview .PanelUI-subView .toolbaritem-combined-buttons > .subviewbutton:not(.subviewbutton-iconic) {
	background-color: #2b2b2b !important;
	border: 3px solid #a0a0a0 !important;
	border-radius: 0;
}
.panel-subview-body {
	background-color: #2b2b2b !important;
	color: #f0f0f0;
}
.panel-header {
	background-color: #222222 !important;
	color: #f0f0f0;
}
.PanelUI-subView {
	-moz-appearance: none !important;
	color: #808080 !important;
	background-color: #1c1c1c !important;
}
.Panel {
	-moz-appearance: none !important;
	color: #808080 !important;
	background-color: #1c1c1c !important;
}
.Panel-arrowcontent {
	-moz-appearance: none !important;
	padding: var(--arrowpanel-padding);
	color: #808080 !important;
	background-color: #1c1c1c !important;
	background-clip: padding-box;
	border: 1px solid var(--arrowpanel-border-color);
	box-shadow: 0 0 4px hsla(0,0%,0%,.2);
	margin: 4px;
}
